@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  .herotext{
    font-family: 'Poppins', sans-serif;
  }

.fontBold {
    background-image: url(https://res.cloudinary.com/dawzncoau/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1699179094/17843307_cfwjlu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 900;
}
.herosec{
  background-image: url(https://res.cloudinary.com/dawzncoau/image/upload/v1699179094/17843307_cfwjlu.jpg);
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
}

.lottie {
  align-items: right;
}